.home-container{
    padding:20px;
    text-align: center;
    background-color: white;
    margin:0%;    
    padding-bottom: 1%;
}

.home-container h1{
    padding-top: 20px;
    color: black;
}

.events-list{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.event-cards{
    background-color: white;
    border-radius: 10px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 2px 6px #00000030;
    text-align: center;
    transition: 0.3s;
}

.event-cards:hover{
    transform: translateY(-5px);
}

.event-cards h2{
    color:darkblue;
    margin-bottom: 10px;
}

.Homeregister-btn{
    background-color: #1e3a8a;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}


.Homeregister-btn:hover{
    background-color:white;
    color: darkblue;
}

.Homeregistered-btn{
        background-color: green;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        transition: 0.3s;
        cursor: pointer;
}

.Homeregistered-btn:hover{
    background-color: white;
    color: green;
}