.myevents-cont{
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    
}

.body{
    margin: 100%;
    font-family: Arial, sans-serif;
}
.myevents-cont h2{
    margin-bottom: 20px;
    color: black;
}

.myevent-card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 300px;
}

.myevent-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    transition: 0.3s;
}

.myevent-card h3{

    color:darkblue;
    margin-bottom: 20px;
}
.myevent-card p{
    margin: 5px 0;
    color: black;
}

.myevent-card button{
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
body.dark div.myevent-card button{
    background-color: #0c0c0c;
}

.myevent-card button:hover{
    background-color: #b02a37;
}

.myevents-grid{
    display: flex;
    gap: 20px;

    flex-wrap: wrap;
  
    justify-content: center;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-top: 20px;
}